/*=========COPY TO ALL PAGES START=========*/
* {
    margin: 0;
    padding: 0;}
  /*Link Text Color*/
  a { text-decoration: none; color: inherit;}
  .navbar a:visited { text-decoration: none; color: rgb(197, 197, 197) }
  a:hover { text-decoration: none; }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }
  /*NAVBAR*/
  .navbar {
    display: flex;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.75);
    color: rgb(197, 197, 197);
    margin: 0 auto;
    height: 50px;
    text-decoration: none;}
  .navbar li {
  display: inline-flex;
  font-size: 1.2em;
  margin-right: auto;
  margin: 8px;
  color: rgb(197, 197, 197)}
  .navbar ul {
    align-self: center;}
  /*T-Tyme Logo*/
  .imageLogo {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      align-self: center;
      padding: 0 10px;
      transition: 1s;}
  .imageLogo:hover {
      transform: rotate(360deg);}
  /*T-Tyme*/
  .navbar h1 {
  margin-right: auto;
  text-align: left;
  font-size: 1.5em;
  align-self: center;
  letter-spacing: 0.1em;} 
  /*FOOTER*/
  html {
      position: relative;
      min-height: 100%;}
  body {margin-bottom: 130px;}
  footer {
    background-color: rgba(20, 20, 20, 0.75);
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;}
  /*=========COPY TO ALL PAGES END=========*/

body {
    background-color: lightblue;
}

.imgMe1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 10%;
}

.text {
    margin-top: 15%;
    margin-left: 50%;
    border: 1px solid black;
    max-width: 40%;
}

@media only screen and (max-width: 950px) {

    .imgMe1 {
        display: block;
        width: 350px;
        margin: 5% auto;
        float: none;
    }

    .text {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}